#header-user {
  text-align: right;
  z-index: 9;
}

.user-button {
  display: inline;
  border-radius: 200px;
  background-color: var(--cor-predominante);
  color: var(--cor-autoescola);
  border-color: var(--cor-autoescola);
  padding: 5px;
}

.user-button i {
  width: 25px;
  height: 25px;
  margin-right: 5px;
  border-radius: 50%;
}

#header-user p {
  display: inline;
}

h1,
h2,
h3 {
  font-family: var(--font-title);
}

@media (orientation: landscape) {
  
  .header-title {
    font-size: clamp(1rem, 10vh, 3rem);
    text-wrap: nowrap;
  }
}

@media (orientation: portrait) {

  .header-title {
    position: fixed;
    z-index: -1;

    left: 8px;
    top: calc((var(--py6))*1%);
    transform: translate(0, -50%) rotate(var(--ptape-angle));
    transform-origin: left bottom;

    margin: 0;
    text-align: left;
    white-space: nowrap;
    width: var(--hyp-p3p6);
  }
}