:root{
    --slot-card: url("../images/silhueta-cadeado.png");

    --teleport-x: -120%;
    --cor-raridade: var(--cor-adrenalina);
    --cor-revelando-a: rgba(0,0,0,0);
    --cor-revelando-b: rgba(0,0,0,0);
    --cor-revelando-c: var(--cor-raridade);
}

#recompensa{
    margin-top: 5vh;
    text-align: center;
    padding-bottom: 20px;
}

#area-recompensa{
    position:relative;
    overflow: hidden;
    margin-bottom: 10px;
}

#slot-a{
    background-image: var(--slot-card);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
#slot-b{
    background-image: var(--slot-card);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
#slot-c{
    background-image: var(--slot-card);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}





.swiper, .swiper-wrapper{
    width: 100%;
    height: 100%;
}
.swiper-wrapper{
    padding-bottom: 25px;
    padding-top: 25px;
}

.swiper-slide{
    position: relative;
    width: 60%;
    max-width: 240px;
    aspect-ratio: 9/16;
    margin: auto 10px;

    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 12px;
}
.swiper-slide::after{
    position: absolute;
    content: "";
    inset: 12px;
    border: 5px solid var(--cor-predominante);
    border-radius: 12px;
    pointer-events: none;
}


.slot-raridade::after{
    border-color: var(--cor-raridade);
}

.slot-raridade:hover,
.revelando-card:hover{
  box-shadow: 0 0 28px var(--cor-raridade);
  filter: drop-shadow(0 0 18px var(--cor-raridade));
  transition: filter .2s ease;
}
.revelando-card:hover::after{
    border-color: var(--cor-raridade);
}
.aguardando-revelar{
    animation: aguardar-revelar .18s linear 10;
}

/* sai da tela */
.teleport-out {
  animation: teleport-out .22s ease forwards;
  will-change: transform, opacity;
}

/* volta para o centro */
.teleport-in {
  animation: teleport-in .22s ease forwards;
  will-change: transform, opacity;
}

@keyframes teleport-out {
  to { transform: translateX(var(--teleport-x)); opacity: 0; }
}
@keyframes teleport-in {
  from { transform: translateX(var(--teleport-x)); opacity: 0; }
  to   { transform: translateX(0);                 opacity: 1; }
}

@keyframes aguardar-revelar {
  0%   { transform: translate3d(0,0,0)}
  20%  { transform: translate3d(-2px, 1px, 0) rotate(-1deg)}
  40%  { transform: translate3d(2px, -1px, 0) rotate(1deg)}
  60%  { transform: translate3d(-2px, 0, 0) rotate(-1deg); background-color:var(--cor-revelando-a);}
  80%  { transform: translate3d(1px, 1px, 0) rotate(1deg); background-color:var(--cor-revelando-b);}
  100% { transform: translate3d(0,0,0) rotate(0deg); background-color:var(--cor-revelando-c);}
}

#resgate-recompensa p{
    margin: 20px;
    color: grey;
}

#progresso-resumido{
    margin-top: 0;
    margin-bottom: 50px;
}