#video-page {
  z-index: 10;
  position: fixed;
  box-sizing: border-box;
  inset: 0;

  overflow: auto;
  scroll-snap-type: y mandatory;
  overscroll-behavior-y: contain;
  -webkit-overflow-scrolling: touch;
  scrollbar-color: rgba(0,0,0,0) rgba(0,0,0,0);
  background-color: black;
}

.video-page-content{
  width: 100vw;
  height: 100vh;
  scroll-snap-align: center;
  scroll-snap-stop: always;   /* NÃO deixa passar do próximo snap */
}

.block-ui{
  overflow: hidden;
}
.closed-ui{
  display: none;
}
